*{
    font-family: sans-serif;
}
html,body{
    font-size: 16px;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

main{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

header {
    flex: 1;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.75);
}
header > h1{
    height: 64px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: whitesmoke;
    font-style: italic;
}

.panel{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

aside {
    background-color: #1f2421;
    width: 180px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.options{
    padding: 20px 0;
    background-color: #1f2421;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.btn{
    display: none;
    padding: 10px;
    margin: 5px 0;
    font-size: 1rem;
    border: solid 1px black;
    background-color: #dce1de;
    color: black;
    height: 50px;
    width: 70px;
    border-radius: 5px;
    outline: none;
}
.btn.active{
    display: block;
}
.btn:disabled{
    display: none;
}
.btn:hover{
    background-color: cornflowerblue;
}

.moneda {
    position: relative;
    width: 100%;
}

.money{
    position: relative;
    width: 100%;
}
.money::before{
    content: attr(data-value);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100px;
    height: 30px;
    font-size: 1.5rem;
    font-weight: bold;
    color: black;
    z-index: 10;
}

section.tablero{
    background-color: #49a078;
    width: 100%;
    height: 100%;    
    display: flex;
    flex-direction: column;
}
.letrero {
    display: block;
    position: relative;
    background-color:#9cc5a1;
    text-align: center;
    padding: 10px;
}
.letrero h1{
    margin: 0;
    color: black;
}
section li{
    list-style-type: none;
    display: block;
    float: left;
    text-align: center;
    border: 3px solid white
}
.zona-tablero{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 50%;
}
.content-cards{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: relative;
}

label[for="apuesta"]{
    width: 100%;
    text-align: center;
    font-weight: bold;
    color: whitesmoke;
}
.apuesta{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 5px;
}
#apuesta{
    margin: 5px 0;
    width: 100%;
    padding: 10px 5px;
    box-sizing: border-box;
}

.hide{
    display: none !important;
}

.img-card{
    width: 222px;
    height: 340px;
}
.img-card.small{
    width: 210px;
    height: 330px;
}

.result{
    width: 100%;
    height: 100%;
    font-size: 3rem;
    font-weight: bold;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

.winner > h1{
    border: solid 3px black;
    border-left: none;
    border-right: none;
    background:rgba(1, 170, 1, 0.8);
    color: white;
    width: 100%;
    padding: 0 20px;
    text-align: center;
}
.loser > h1{
    border: solid 3px black;
    border-left: none;
    border-right: none;
    background: rgba(218, 0, 0, 0.8);
    color: white;
    width: 100%;
    padding: 0 20px;
    text-align: center;
}
.empate > h1{
    border: solid 3px black;
    border-left: none;
    border-right: none;
    background: rgba(197, 197, 0, 0.8);
    color: white;
    width: 100%;
    padding: 0 20px;
    text-align: center;
}